################################################################################
# Sample object config file for Nagios 
#
# Read the documentation for more information on this configuration file.  I've
# provided some comments here, but things may not be so clear without further
# explanation, so make sure to read the HTML documentation!
# 
# Last Modified: 09-17-2002
#
################################################################################


################################################################################
# SERVICE DEFINITIONS
#
# SYNTAX:
#
################################################################################

# Generic service definition template
define service{
	name				generic-service	; The 'name' of this service template, referenced in other service definitions
	active_checks_enabled		1	; Active service checks are enabled
	passive_checks_enabled		1	; Passive service checks are enabled/accepted
	parallelize_check		1	; Active service checks should be parallelized (disabling this can lead to major performance problems)
	obsess_over_service		1	; We should obsess over this service (if necessary)
	check_freshness			0	; Default is to NOT check service 'freshness'
	notifications_enabled		1	; Service notifications are enabled
	event_handler_enabled		1	; Service event handler is enabled
	flap_detection_enabled		1	; Flap detection is enabled
	process_perf_data		1	; Process performance data
	retain_status_information	1	; Retain status information across program restarts
	retain_nonstatus_information	1	; Retain non-status information across program restarts

	register			0	; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!
	}


# check-ping service definition template
define service{
	name				ping-service	; The 'name' of this service template, referenced in other service definitions
	active_checks_enabled		1	; Active service checks are enabled
	passive_checks_enabled		1	; Passive service checks are enabled/accepted
	parallelize_check		1	; Active service checks should be parallelized (disabling this can lead to major performance problems)
	obsess_over_service		1	; We should obsess over this service (if necessary)
	check_freshness			0	; Default is to NOT check service 'freshness'
	notifications_enabled		1	; Service notifications are enabled
	event_handler_enabled		1	; Service event handler is enabled
	flap_detection_enabled		1	; Flap detection is enabled
	process_perf_data		1	; Process performance data
	retain_status_information	1	; Retain status information across program restarts
	retain_nonstatus_information	1	; Retain non-status information across program restarts

	register			0	; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!

	service_description		PING
	is_volatile			0
	check_period			24x7
	max_check_attempts		3
	normal_check_interval		5
	retry_check_interval		1
	notification_interval		120
	notification_period		24x7
	notification_options		c,r
	check_command			check_ping!100.0,20%!500.0,60%
	}


# check temp service definition template
define service{
	name				temp-service	; The 'name' of this service template, referenced in other service definitions
	active_checks_enabled		1	; Active service checks are enabled
	passive_checks_enabled		1	; Passive service checks are enabled/accepted
	parallelize_check		1	; Active service checks should be parallelized (disabling this can lead to major performance problems)
	obsess_over_service		1	; We should obsess over this service (if necessary)
	check_freshness			0	; Default is to NOT check service 'freshness'
	notifications_enabled		1	; Service notifications are enabled
	event_handler_enabled		1	; Service event handler is enabled
	flap_detection_enabled		1	; Flap detection is enabled
	process_perf_data		1	; Process performance data
	retain_status_information	1	; Retain status information across program restarts
	retain_nonstatus_information	1	; Retain non-status information across program restarts

	register			0	; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!

	service_description TEMPERATURE
	is_volatile 0
	check_period 24x7
	max_check_attempts 3
	normal_check_interval 5
	retry_check_interval 1
	contact_groups sensor-admins
	notification_interval 240
	notification_period 24x7
	notification_options c,r
	check_command check_temp!60/88!40/90
	}


# check humidity service definition template
define service{
	name				hum-service	; The 'name' of this service template, referenced in other service definitions
	active_checks_enabled		1	; Active service checks are enabled
	passive_checks_enabled		1	; Passive service checks are enabled/accepted
	parallelize_check		1	; Active service checks should be parallelized (disabling this can lead to major performance problems)
	obsess_over_service		1	; We should obsess over this service (if necessary)
	check_freshness			0	; Default is to NOT check service 'freshness'
	notifications_enabled		1	; Service notifications are enabled
	event_handler_enabled		1	; Service event handler is enabled
	flap_detection_enabled		1	; Flap detection is enabled
	process_perf_data		1	; Process performance data
	retain_status_information	1	; Retain status information across program restarts
	retain_nonstatus_information	1	; Retain non-status information across program restarts

	register			0	; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!

	service_description Humidity
	is_volatile 0
	check_period 24x7
	max_check_attempts 3
	normal_check_interval 5
	retry_check_interval 1
	contact_groups sensor-admins
	notification_interval 240
	notification_period 24x7
	notification_options c,r
	check_command check_humidity!20/70!10/80
	}


# check light service definition template
define service{
	name				ill-service	; The 'name' of this service template, referenced in other service definitions
	active_checks_enabled		1	; Active service checks are enabled
	passive_checks_enabled		1	; Passive service checks are enabled/accepted
	parallelize_check		1	; Active service checks should be parallelized (disabling this can lead to major performance problems)
	obsess_over_service		1	; We should obsess over this service (if necessary)
	check_freshness			0	; Default is to NOT check service 'freshness'
	notifications_enabled		1	; Service notifications are enabled
	event_handler_enabled		1	; Service event handler is enabled
	flap_detection_enabled		1	; Flap detection is enabled
	process_perf_data		1	; Process performance data
	retain_status_information	1	; Retain status information across program restarts
	retain_nonstatus_information	1	; Retain non-status information across program restarts

	register			0	; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!

	service_description Illumination
	is_volatile 0
	check_period 24x7
	max_check_attempts 3
	normal_check_interval 5
	retry_check_interval 1
	contact_groups sensor-admins
	notification_interval 240
	notification_period 24x7
	notification_options c,r
	check_command check_light!40/60!20/70
	}

